.disabled__wrapper{
    position:relative;

    .disabled__overlay{
        position:absolute;
        right:0;
        left:0;
        top:0;
        bottom:0;
        z-index:9;
        background:rgba(252, 252, 252, 0.75) none repeat scroll 0% 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        strong{
            font-size:rem-calc(25px);
            font-weight:400;
        }
    }
}
