.product-finishes__wrapper{
    text-align:center;

    @include breakpoint(medium) {
        text-align:right;
    }


    .product-finishes__title{
        vertical-align: top;
        display:none;
        width:15%;
        font-family:$secondary-font-family;
        font-size:rem-calc(14px);

        @include breakpoint(large) {
            display:inline-block;
        }
    }

    .product-finish{
        display:inline-block;
        width:15%;
        vertical-align: top;
        margin-bottom:rem-calc($rem-base);


        @include breakpoint(large) {
            width:9%;
            margin-left:rem-calc(20px);
        }


        h4{
            font-size:10px;
            margin-top:4px;
            text-align: center;
        }
    }
}
