#searchform{

    position:relative;
    height:45px;
    margin-top:-15px;

    .searchtext__wrapper{
        width:0px;
        overflow: hidden;
        position:absolute;
    }
    .searchtext{
        position:absolute;
        margin:0px;
        border:none;
        box-shadow:none;
        right:39px;
        height:42px;
        top:0px;
        width:0px;
        background-color: darken($white, 5%);
        padding:0px;
        transition:width 0.25s linear;
        color: $body-font-color;
        width:200px;
        padding:10px;
        transition:width 0.25s linear;
        font-family:$secondary-font-family;
    }

    .searchsubmit{
        position:absolute;
        border:none;
        width:39px;
        height:42px;
        margin:0px;
        right:0px;
        top: 0px;
        background-color: darken($white, 5%);
    }

    .search-icon{
        position:absolute;
        right:10px;
        pointer-events: none;
        bottom:12px;
        font-size:26px;
        color: $primary-color;
        background-color: darken($white, 5%);
    }

    @include breakpoint(large) {
      .searchtext{
          width:0px;
          padding:0px;
      }

      .searchsubmit, .search-icon{
          background-color: $white;
      }
    }

    &:hover, &:focus{

        .searchsubmit{
            background-color: darken($white, 5%);
        }

        .search-icon{
            background-color: darken($white, 5%);
        }

        .searchtext, .searchtext:focus{
            width:150px;
            padding:10px;
            transition:width 0.25s linear;

        }
    }

    .searchtext:focus{
        width:150px;
        padding:10px;
        transition:width 0.25s linear;
    }

}
